<!--HEADER-->
<nav class="navbar fixed-top navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="../assets/img/piano.png" color="white" width="30" height="30" class="d-inline-block align-top" alt="">
    Piano App</a>
</nav>

<div class="container">
  <h1>Piano angular app</h1>

  <div class="keyboard">

    <div class="key-box">
      <a (click)="getSonido(1)" class="key" ></a>
    </div>

    <div class="key-box">
      <a (click)="getSonido(2)" class="key" ></a>
    </div>

    <div class="key-box">
      <a (click)="getSonido(3)" class="key" ></a>
    </div>

    <div class="key-box">
      <a (click)="getSonido(4)" class="key" ></a>
    </div>

    <div class="key-box">
      <a (click)="getSonido(5)" class="key" ></a>
    </div>

    <div class="key-box">
      <a (click)="getSonido(6)" class="key" ></a>
    </div>

    <div class="key-box">
      <a (click)="getSonido(7)" class="key" ></a>
    </div>

  </div>

</div>

<!--FOOTER-->
<!--FOOTER-->